# Compiled class file
*.class

# BlueJ files
*.ctxt

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.workspace
# virtual machine crash logs
hs_err_pid*

# Tex files
*.aux
*.log
*.pdf
*.synctex.gz

# vscode files
*.code-workspace